body {
  background-color: #030712;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  font-size: 16px; /* Adjust as needed */
}

::-webkit-scrollbar {
  width: 0px;
}

.absolute {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  z-index: -1;
}

.justify-center {
  justify-content: center;
}

.bg-shape {
  width: 200px;
  height: 200px;
  border-radius: 40% 60% 60% 40% / 70% 30% 70% 30%;
  position: relative;
  animation-timing-function: ease;
}

.bg-shape1 {
  animation: one 30s infinite;
}
.bg-shape2 {
  animation: two 25s infinite;
}
.bg-shape3 {
  animation: three 30s infinite;
}

@keyframes one {
  /* ... your keyframes ... */
}
@keyframes two {
  /* ... your keyframes ... */
}
@keyframes three {
  /* ... your keyframes ... */
}

.opacity-50 {
  opacity: 0.7;
}

.bg-blur {
  filter: blur(100px);
}

.bg-primary {
  background-color: hsl(179, 100%, 55%);
}
.bg-teal {
  background-color: hsl(160, 100%, 42%);
}
.bg-purple {
  background-color: hsl(278, 100%, 42%);
}

header {
  display: flex;
  height: 60px;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}

.navigation {
  width: 40%;
}

.logo {
  font-size: 1rem;
  font-family: "Fira Code", monospace;
  color: #ffff;
  font-weight: 100;
}

.links {
  justify-content: space-evenly;
  display: flex;
  flex-direction: row;
}

li,
a {
  text-decoration: none;
  color: #ffff;
  font-size: 1rem;
  font-family: "Fira Code", monospace;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.titles {
  font-family: Poppins;
  color: #ffffff;
  font-size: 0.825rem;
  display: flex;
  background-color: #374151;
  justify-content: center;
  margin-bottom: 3rem;
  padding: 5px;
  width: 120px;
  font-weight: 400;
  border-radius: 20px;
}


.div-titles{
  display: flex;
  height: 100px;
  align-items: center;
}
.title {
  font-family: Poppins;
  color: #ffffff;
  font-weight: 800;
  font-size: 1.5rem;
  padding-bottom: 1rem;
}

.conteudo {
  color: #ffffff;
  font-size: 48px;
  font-family: "Fira Code", monospace;
  margin-bottom: 20px;
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 600px;
  width: 920px;
  line-height: 1.9;
  position: relative;
  top: 0;
  left: 120px;
}

.imagem-profile {
  height: 300px;
}

.githublink {
  font-family: "Fira Code", monospace;
  font-size: 1rem;
  color: #ffffff;
}

.rainbow-text span {
  /* Add styles if needed */
}

.tiffany {
  color: #43d9ad;
}
.purple {
  color: #4d5bce;
}
.red {
  color: #e99287;
}

.hi {
  color: #ffffff;
  font-size: 1rem;
  font-family: "Fira Code", monospace;
}

.name {
  color: #ffffff;
  font-size: 2.5rem;
  font-family: "Fira Code", monospace;
}

.cargo {
  color: #4d5bce;
  font-size: 1.5rem;
  font-family: "Fira Code", monospace;
}

.cargo:after {
  content: "|";
  margin-left: 5px;
  opacity: 1;
  animation: pisca 0.7s infinite;
}

@keyframes pisca {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.comentario {
  color: #607b96;
  font-size: 1rem;
  font-family: "Fira Code", monospace;
}

.card-about {
  background-color: rgb(17, 24, 39);
  display: flex;
  flex-direction: column;
  min-height: 1100px;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.about-me-profile {
  height: 100%;
  width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.image {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 799px;
}

#about .image {
  position: relative;
}

#about .image::before {
  content: "";
  height: 660px;
  width: 500px;
  background: linear-gradient(
    to right,
    hsla(172, 100%, 66%, 0.82),
    rgb(17, 24, 39)
  );
  position: absolute;
  left: -0%;
  z-index: 0;
}

.imagem-profile {
  height: 600px;
}

#about .image img {
  position: relative;
}

#about .image img,
#about .image::before {
  border-radius: 2rem;
}

.aboutme {
  height: 700px;
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}

.foto-perfil {
  width: 50%;
  display: flex;
  justify-content: center;
}

.skills-tech {
  gap: 20px;
  padding: 60px;
  display: flex;
  width: 1200px;
  min-height: 600px;
  align-content: stretch;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skills {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0.5rem;
  grid-row-gap: 2rem;
  justify-items: center;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skill img {
  width: 60px;
  height: 60px;
  margin-bottom: 0.5rem;
}

.text-skill {
  color: #fff;
  font-family: Poppins;
}

.experiences-cards {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #111827;
  min-height: 600px;
  justify-content: center;
}

.cards {
  gap: 20px;
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  min-height: 800px;
  align-items: center;
}

.card {
  display: flex;
  background: #1f2937;
  min-height: 250px;
  width: 920px;
  padding: 40px;
  border-radius: 15px;
  color: #fff;
  font-family: Poppins;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  line-height: 1.6rem;
  -webkit-box-shadow: 8px 8px 12px -6px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 8px 8px 12px -6px rgba(0, 0, 0, 0.2);
  box-shadow: 8px 8px 12px -6px rgba(0, 0, 0, 0.2);
}

.icon {
  display: flex;
  width: 150px;
  height: 100%;
  align-items: flex-start;
  justify-content: center;
}

.icon img {
  width: 130px;
}

.icon-contact {
  width: 50px;
  height: 60px;
}

.icon-contact:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}

.text-card {
  height: 100%;
  width: 370px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.list-experience {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.text-card .title-experience {
  font-size: 1rem;
  font-weight: 700;
  margin-left: 20px;
  margin-bottom: 1rem;
}

.text-card li p {
  font-size: 0.775rem;
  list-style-type: disc;
  margin-bottom: 1rem;
}

.description-me {
  color: #fff;
  font-family: Poppins;
  font-size: 1rem;
  line-height: 1.5rem;
}

.projects {
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  min-height: 800px;
  align-items: center;
}

.card-work-project {
  height: 410px;
  width: 920px;
  display: flex;
  background: #374151;
  border-radius: 15px;
  margin-bottom: 3rem;
}

.img-project {
  width: 100%;
}

.img-project:hover {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1.1);
}

.card-left-img {
  padding: 50px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-left-img img {
  width: 360px;
  border-radius: 15px;
}

.card-right-description-background {
  background: #1f2937;
  width: 50%;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  height: 100%;
  display: flex;
}

.card-right-description {
  display: flex;
  padding: 50px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: #fff;
  font-family: Poppins;
}

.tech-project {
  display: flex;
  gap: 0.5rem;
  width: 100%;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.description-project p {
  margin-bottom: 20px;
  font-size: 0.7rem;
}

.description {
  margin-bottom: 20px;
}

.tech-project p {
  font-family: Poppins;
  color: #ffffff;
  font-weight: 400;
  font-size: 0.75rem;
  display: flex;
  background-color: #374151;
  justify-content: center;
  border-radius: 20px;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 1.125rem;
  padding-right: 1.125rem;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 300px;
  width: 100%;
  background-color: #02101b;
  align-items: center;
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 700px;
}

.title-contact {
  font-family: Fira Code;
  color: #ffffff;
  font-size: 1rem;
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 700px) {
  body {
    display: flex;
    max-width: 100%;
  }

  .projects {
    width: 500px;
  }

  .skills-tech {
    width: 400px;
  }

  .skills {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0.5rem;
    grid-row-gap: 2rem;
    justify-items: center;
  }

  .experiences-cards {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #111827;
    min-height: 600px;
    justify-content: center;
  }

  .card {
    display: flex;
    background: #1f2937;
    min-height: 250px;
    max-width: 400px;
    padding: 40px;
    border-radius: 15px;
    color: #fff;
    font-family: Poppins;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    line-height: 1.6rem;
    -webkit-box-shadow: 8px 8px 12px -6px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 8px 8px 12px -6px rgba(0, 0, 0, 0.2);
    box-shadow: 8px 8px 12px -6px rgba(0, 0, 0, 0.2);
  }

  .cards {
    width: 100%;
  }

  .text-card li p {
    font-size: 0.775rem;
    list-style-type: disc;
    margin-bottom: 1rem;
    width: 330px;
    font-family: Poppins;
  }

  .text-card .title-experience {
    font-size: 1rem;
    font-weight: 700;
    margin-left: 0px;
    margin-bottom: 1rem;
    margin-top: 1rem;
    width: 330px;
  }

  .list-experience {
    width: 270px;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
  }

  .date-experience {
    font-size: 0.8rem;
  }

  .contact {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 400px;
    max-width: 100%;
    background-color: #02101b;
    align-items: center;
  }

  .social {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 360px;
  }

  .icon-contact {
    width: 30px;
    height: 30px;
  }

  .card-work-project {
    height: 610px;
    width: 400px;
    display: flex;
    background: #374151;
    border-radius: 15px;
    margin-bottom: 0rem;
    flex-direction: column;
    margin-bottom: 5rem;
  }

  .img-project {
    width: 100%;
    display: flex;
    justify-content: center;
}

  .card-left-img {
    width: 100%;
    padding: 10px;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .card-left-img img {
    width: 300px;
    border-radius: 10px;
  }

  .card-right-description {
    display: flex;
    padding: 0px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-family: Poppins;
    width: 409px;
    height: 450px;
  }

  .card-right-description-background {
    background: #1f2937;
    width: 100%;
    height: 80%;
    border-bottom-left-radius: 15px;

    border-top-right-radius: 0px;
    border-bottom-right-radius: 15px;
    display: flex;
    justify-content: center;
  }

  .tech-project {
    display: flex;
    gap: 0.5rem;
    width: 300px;
    flex-wrap: wrap;
    margin-bottom: 20px;
    justify-content: center;
  }

  .description-project {
    margin-bottom: 20px;
    font-size: 0.7rem;
    width: 300px;
  }

  .projects {
    padding: 0px;
  }

  .about-me-profile {
    height: 100%;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  .card-about {
    background-color: rgb(17, 24, 39);
    display: flex;
    flex-direction: column;
    min-height: 1250px;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
  }

  .description-me {
    color: #fff;
    font-family: Poppins;
    font-size: 0.9rem;
    line-height: 1.5rem;
    width: 400px;
    margin-bottom: 10px;
  }

  .imagem-profile {
    height: 200px;
    margin-bottom: 10px;
    position: relative; /* Adicione esta propriedade */
  }
  

  #about .image::before {
    content: "";
    height: 100%;
    width: 100%; /* Altere para 100% para cobrir toda a div */
    background: linear-gradient(to right, rgb(17, 24, 39), rgb(17, 24, 39));
    position: absolute; /* Altere para absolute */
    top: 0;
    left: 0;
    z-index: -1; /* Defina um z-index menor para que fique por trás da imagem */
  }

  .image {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 230px;
    margin-bottom: 10px;
    position: relative;
    justify-content: flex-start;
  }

  .aboutme {
    height: 700px;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    position: relative; /* Adicione esta propriedade */
    z-index: 2; /* Ajuste o z-index conforme necessário */
  }

  .titles {
    font-family: Poppins;
    color: #ffffff;
    font-size: 0.825rem;
    display: flex;
    background-color: #374151;
    justify-content: center;
    margin-bottom: 2rem;
    padding: 5px;
    width: 120px;
    font-weight: 400;
    border-radius: 20px;
}


.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 400px;
  width: 400px;
  line-height: 1.9;
  position: relative;
  top: 0;
  left: 0px;
}

.cargo {
  color: #4d5bce;
  font-size: 1rem;
  font-family: "Fira Code", monospace;
}

.profile p{
  font-size: 10px;
}

.typed-out .cargo p {
  width: 300px;
}

p.githublink.rainbow-text span{
font-size: 10px;
}

p.hi{
  font-size: 20px;
}

p.name{
  font-size: 20px;
}

.img-project:hover {
  -webkit-transform: scale();
  -moz-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}



}
